/* style.css file*/
body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
#my-qr-reader img[alt="Info icon"] {
    display: none;
}
#my-qr-reader img[alt="Camera based scan"] {
    width: 100px !important;
    height: 100px !important;
}
#html5-qrcode-anchor-scan-type-change {
    text-decoration: none !important;
}
video {
    width: 100% !important;
    border: 1px solid #b2b2b2 !important;
}
.logo {
    width: 100px;
    top: auto;
}
